@mixin flex-center($justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}


@mixin container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $container-padding;
}