@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $container-padding;
}
